body {
    background-image: url("./background.png");
    background-size: cover;
    height: 98vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Roboto', sans-serif;
}
#form {
    background-color: #FFFFFF;
}
#form_header {
    background-color: #04AA6D;
    padding: 14px 28px;
    font-size: 16px;
    display: block;
    text-align: center;
    color: #FFFFFF;
}
#form_elements {
    padding: 10px;
}
#no_file {
    color: red;
}
#wrong_password {
    color: red;
}
.button {
    border-radius: 10%;
    margin-top: 10px;
    position: relative;
    background-color: #04AA6D;
    border: none;
    font-size: 16px;
    color: #FFFFFF;
    text-align: center;
    padding: 10px;
    transition-duration: 0.4s;
    text-decoration: none;
    overflow: hidden;
    cursor: pointer;
}
.button:after {
    content: "";
    background: #f1f1f1;
    display: block;
    position: absolute; 
    padding-top: 300%;
    padding-left: 350%;
    margin-left: -20px !important;
    margin-top: -120%;
    opacity: 0;
    transition: all 0.8s
}
.button:active:after {
    padding: 0;
    margin: 0;
    opacity: 1;
    transition: 0s
}
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
    justify-content: center;
    align-items: center;
}
.modal-content {
    background-color: #fefefe;
    padding: 30px;
    border: 1px solid #888;
    width: fit-content;
    text-align: center;
}
#centered {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}